<div class="row">
  <div class="landing">
    <div class="opacita">
      <div class="row">
        <div class="col-6">
          <div class="ritaglio-orizzontale">
            <h1 class="vertical-title m-3">
              {{ landingTitle | uppercase }}&nbsp;
            </h1>
            <img
              class="logo"
              src="assets/images/angular-icon-logo.png"
              alt=""
            />
          </div>
        </div>
        <div class="col mt-5">
          <div class="presentazione m-5">
            <br />
            <h2 class="titolo mt-3 mb-3 text-center">
              {{ landingTitle | uppercase }}
            </h2>
            <hr />
            <p class="landing-description text-white m-4">
              Welcome to Angular Playground, a project designed to test and
              learn Angular in a fun and interactive way.
            </p>
            <hr class="m-5" style="color: aliceblue" />
            <div class="div-bottone text-center">
              <button class="btn btn-danger">Let's start</button>
            </div>
            <hr class="m-5" style="color: aliceblue" />
            <p class="text-white m-4">
              Authors: Alessio Dunare, Christian di Michele.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
